@import '../mixins-and-placeholders.module.scss';
@import '../pages/variables.scss';
.classmates{
    grid-column: 3 !important;
    color: blue;
}
.nav-panel{
    &__container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-row: 1;
        grid-column: 2;
        height: 100%;
        width: 85%;
        justify-items: center;
        align-items: center;
        justify-self: end;
        margin-right: .5rem;
        background-color: rgb(238, 238, 239);
        border: 1px solid rgb(221, 221, 221);
        border-radius: 5px;
    }

    
}
.img{
    @extend %button-style;
}