.panel{
    &__container{
        margin-top: 1rem;
        display:grid;
        grid-template-rows: 1fr repeat(3, 7fr);
        grid-template-columns: repeat(4, 1fr);
        
        border-radius: 17px;
        grid-row: 2/5;
        grid-column: 2/-1;

    }
}
